.posts-wrapper {
  padding: 41px 0 207px;
}

.posts-filter {
  margin: 0 -18px 48px;
  display: flex;
  select, input {
    width: 195px;
    margin: 0 18px;
    background: #303033;
    border-radius: 10px;
    border: none;
    color: rgba(#F2F2F2, 0.6);
    padding: 18px 20px;
    outline: none;
    font-size: 16px;
    font-weight: 300;

  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 47px;
    background-position: calc(100% - 22px) 50%;
    background-repeat: no-repeat;
    background-size: 12px;
    background-image: url("../../images/chevron-down.svg");
  }
  input {
    margin-left: auto;
    width: calc(50% - 46px);
    padding-left: 47px;
    background-position: 17px 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url("../../images/search.svg");
    &::-webkit-input-placeholder {
      color: rgba(#F2F2F2, 0.6);
    }
    &::-moz-placeholder {
      color: rgba(#F2F2F2, 0.6);
    }
    &:-ms-input-placeholder {
      color: rgba(#F2F2F2, 0.6);
    }
    &:-moz-placeholder {
      color: rgba(#F2F2F2, 0.6);
    }
  }
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -38px;
  .post-item {
    padding: 0 38px;
    width: 100%;
    max-width: 33.333%;
    margin-bottom: 76px;
    &:first-child {
      max-width: 100%;
    }
  }
}

.posts-pagination {
  text-align: center;
  .btn {
    min-width: 288px;
  }
}