.social-link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.social-link-item {
  margin: 0 15px;
  a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.2);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      border-color: #fff;
    }
    svg {
      width: 18px;
      height: 18px;
      object-fit: contain;
    }
  }
}