.footer {
  padding: 110px 0;
  background: #1E1E1E;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .footer-info {
      flex: 0 0 35%;
      padding-right: 145px;
    }
    .footer-nav {
      flex: 0 0  40%;
    }
  }
}
.footer-info {
  font-size: 18px;
  line-height: 1.55;
  .logo {
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
  &>* {
    padding: 0 20px;
  }
}
