.header {
    padding: 49px 0 40px;
    background: #1e1e1e;
    position: relative;
    z-index: 100;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    .primary-menu {
        margin-right: 60px;
        &:last-child {
            margin-right: 0;
        }
    }
}
